* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calculator {
    margin: auto;
    width: 70vh;
    height: 70vh;
}

#view {
    /* text-align: center; */
}

#display {
    width: 91%;
    text-align: center;
    height: 4rem;
    /* margin-bottom: 2rem; */
}

#options {
    display: flex;
    flex-wrap: wrap;

}

.numbers {
    width: 5rem;
    height: 5rem;
    background-color: beige;
    font-weight: bold;
    padding: 2rem;
    margin: 0.1rem;
}