* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calculator {
    margin: auto;
    width: 20rem;
    height: 70vh;
    
}

#container {
    background-color:  lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin: auto;
    border-radius: 0.2rem;
}

#view {
    width: 100%;
    padding: 0.4rem;
}

#display {
    width: 100%;
    text-align: center;
    height: 5rem;
    margin-bottom: 0.01rem;
    background-color: rgba(2, 2, 3, 1);
    color: greenyellow;
    font-size: 2rem;
}

#options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem;
    padding-bottom: 0.7rem;
    justify-content: center;
    gap: 0.1rem; 
    align-items: center;
}

.numbers:hover {
    background-color: rgb(187, 184, 184)
}

.numbers {
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    line-height: 5rem;
    background-color: darkgray;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.2rem;
  
}
.selected {
    background-color: white;
}
